body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background: #dbdbdb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.keyboard-section {
  margin-top: 10rem;
  margin-left: 5rem;
}

table tr td {
  font-weight: 600;
  color: #5e5e5e !important;
  background: transparent !important;
  padding-bottom: 0 !important;
  padding-top: 1px !important;
}

table td {
  font-family: 'Courier New', Courier, monospace;
}
